@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}
::-webkit-scrollbar-track {
background: rgba(75, 85, 99, 0.397);
}
::-webkit-scrollbar-thumb {
background: rgb(75, 85, 99);
}
::-webkit-scrollbar-thumb:hover {
background: rgb(66, 80, 99);
}



